
<div class="container">
<h1>Notifications</h1>

<% if @notifications.any? %>
  <ul>
    <% @notifications.each do |notification| %>
      <li class="<%= 'unread' unless notification.read? %>">
        <p><%=notification[:message]%></p>
        <small><%= time_ago_in_words(notification.created_at) %> ago</small>
      </li>
      <%= button_to "Delete", notification_path(notification), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </ul>
<% else %>
  <p>No notifications.</p>
<% end %>
</div>
