<div class="container text-center">
  <p>Welcome to home page</p>
  <%= link_to "create new car", new_car_path(@car) %>
  <% @cars.each do |car| %>
  <div class="row">
    <div class="col">
      <h2>Car Make: <%= car[:make] %></h2>
      <%= link_to "show the car", car_path(car) %>
  <% end %>
    </div>
  </div>
</div>
