<p>welcome to show</p>
<ul>
  <li>make: <%= @car[:make] %></li>
  <li>colour: <%= @car[:colour] %></li>
  <li>description: <%= @car[:description] %></li>
  <li>owner: <%= @car.user[:user_name] %></li>
</ul>
